.u-section-1 {
  min-height: 373px;
  background-image: url("images/05-02-20211.48.39AM.png");
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 183px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-2 .u-group-1 {
  min-height: 770px;
  margin: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 0 151px 0 142px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -654px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 656px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 60px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 644px;
  pointer-events: auto;
  background-image: url("images/UTTARAKHAND.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 51px;
    margin-left: 42px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -612px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-2 .u-image-1 {
    min-height: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 49px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 735px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 735px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 733px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 25px;
  }

  .u-section-2 .u-image-1 {
    min-height: 322px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1370px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  width: 681px;
  margin: 35px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1220px;
  margin: 0 auto 0 -66px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1282px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 16px 65px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 9px -27px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 467px;
  height: 272px;
  margin: -1056px 290px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1633px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1544px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -20px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 475px;
    height: 277px;
    margin-top: -1252px;
    margin-right: auto;
    margin-left: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1892px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1803px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -16px;
  }

  .u-section-3 .u-image-1 {
    width: 396px;
    height: 231px;
    margin-top: -1478px;
    margin-right: 124px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2261px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 2172px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -1761px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3378px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 3263px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -8px;
  }

  .u-section-3 .u-image-1 {
    height: 187px;
    margin-top: -2725px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1371px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 541px;
  height: 281px;
  margin: -1018px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -1122px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1591px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -1288px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-4 .u-image-1 {
    height: 280px;
    margin-top: -1602px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2296px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 9px;
  }

  .u-section-4 .u-image-1 {
    height: 176px;
    margin-top: -1856px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1473px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 630px;
  margin: 75px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: 700;
  width: 267px;
  margin: 28px auto 0;
}

.u-section-5 .u-image-1 {
  width: 649px;
  height: 380px;
  margin: 12px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 66px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-right: 68px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 199px;
    margin-top: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1263px;
}

.u-section-6 .u-line-1 {
  transform-origin: center bottom 0px;
  left: 0;
  top: 188px;
  position: absolute;
  transform: rotate(178deg);
  margin-left: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 544px;
  margin: 21px auto 0;
}

.u-section-6 .u-image-1 {
  width: 649px;
  height: 380px;
  margin: 33px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 65px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 33px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    width: 912px;
    height: 3px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 199px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1247px;
}

.u-section-7 .u-line-1 {
  transform-origin: center bottom 0px;
  left: 0;
  top: 188px;
  position: absolute;
  margin-left: 0;
  transform: rotate(178deg);
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 326px;
  margin: 43px auto 0;
}

.u-section-7 .u-image-1 {
  width: 649px;
  height: 380px;
  margin: 34px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 64px 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 58px 13px 0 -13px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 34px 24px 0 -24px;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  margin: 13px 0 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-line-1 {
    width: 912px;
    height: 3px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 199px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-8 .u-line-1 {
  transform-origin: center bottom 0px;
  left: 0;
  top: 188px;
  position: absolute;
  margin-left: 0;
  transform: rotate(178deg);
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 506px;
  margin: 0 auto;
}

.u-section-8 .u-image-1 {
  width: 649px;
  height: 380px;
  margin: 33px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.25rem;
  margin: 8px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-line-1 {
    width: 912px;
    height: 3px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-8 .u-line-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 199px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-9 .u-line-1 {
  transform-origin: center bottom 0px;
  left: 0;
  top: 188px;
  position: absolute;
  margin-left: 0;
  transform: rotate(178deg);
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 506px;
  margin: 20px auto 0;
}

.u-section-9 .u-image-1 {
  width: 649px;
  height: 380px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 65px 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  margin: 8px 0 57px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-line-1 {
    width: 912px;
    height: 3px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-9 .u-line-1 {
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 199px;
  }
}